@model IEnumerable<GACBackend.Models.Employee>

@{
    /**/

    ViewBag.Title = "Index";
    List<SelectListItem> L1 = new List<SelectListItem>();
}
<h3>List of Employees</h3>

@foreach (var item in Model)
{
    L1.Add(new SelectListItem { Text = item.Name, Value = item.Code });

}

@Html.DropDownList("Select Emp", L1, "Please select*")




